.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("famous-koutoubia-mosque-marrakech.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-card {
  background: white;
  padding: 35px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;

  
}


.logo {
  color: #0099ff;
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  
}


.form,
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
  width: 100%;;
}

input:focus,
textarea:focus {
  border-color: #0099ff;
}

.main-btn {
  background: #0099ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.main-btn:hover {
  background: #0077cc;
}

.switch-btn {
  background: none;
  border: none;
  color: #0099ff;
  cursor: pointer;
  margin-bottom: 15px;
}


.role-selection {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.role {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #0099ff;
  background: rgb(0, 0, 0);
  cursor: pointer;
}

.role.active {
  background: #0099ff;
  color: white;
}
.icon {
  color: #4a90e2; /* example color, compatible with design */
  margin-right: 10px;
  font-size: 1.2rem;
}
.input-group {
  display: flex;
  align-items: center;
  
 
}
.input-group input{
    width: 100%;
}
